<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Likes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (likedObjectId !== undefined) {
  @for (item of likedObjectId$ | async; track $index) {
  <app-painting-card [objectId]="item"></app-painting-card>
  } @empty {
  <div class="ion-padding ion-margin-top ion-text-center">
    <ion-label>No liked Paintings Found!</ion-label>
  </div>}
  }
  @if (isLoading) {
  <ion-card>
    <ion-thumbnail>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-card-header>
      <ion-grid [fixed]="true">
        <ion-row class="ion-justify-content-between">
          <ion-col size="8">
            <ion-card-title><ion-skeleton-text [animated]="true"></ion-skeleton-text></ion-card-title>
          </ion-col>
          <ion-col size="1">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-subtitle><ion-skeleton-text [animated]="true"></ion-skeleton-text></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  }
</ion-content>